/* Da cancellare  */

.my_test {
    height: 100px;
    background-color: blueviolet;
}

.my_test_second {
    background-color: aqua;
}

.my_test_third {
    background-color: red;
}

.my_test_four {
    background-color: yellow;
    height: 100%;
}

.my_test_five {
    background-color: green;
}

.my_col-height {
    height: calc(100vh - 70px - 100px);
}
/* NAVBAR */
.my_navbar {
    height: 70px;
}

.my_main-app-container {
    height: calc(100vh - 70px);
}

/* Colors */

.my_bg-dark-blue {
    background-color: #051e34;
}