/* Da cancellare  */

.my_test {
    height: 100px;
    background-color: blueviolet;
}

.my_test_second {
    height: 500px;
    background-color: aqua;
}

.my_test_third {
    height: 500px;
    background-color: red;
}

.my_test_four {
    height: 500px;
    background-color: yellow;
}

.my_test_five {
    height: 500px;
    background-color: green;
}

/* NAVBAR */
