/* FONTS */
.my-text {
    font-size: .9rem;
}

.my_h1 {
    font-size: 1.8rem;
}

.my_h2 {
    font-size: 1.6rem;
}

/* NAVBAR */
.my_navbar {
    height: 70px;
}

.my_main-app-container {
    height: calc(100vh - 70px);
}

/* Sidebar */
.my_sidebar {
    background-image: url(../img/sidebar-bg.png)
}

.my_sidebar-li i {
    width: 30px;
}

.my_sidebar-li::before {
    background-color: white;
    opacity: .5;
}

/* Table */
.my_table-name {
    width: 60%;
}

.my-table-small {
    width:15%
}

.my_class-avatar {
    width: 25px;
    vertical-align: center;
}

.my_table_button {
    width: 25px;
    height: 25px;
}

/* Main app header */
.my_sq-icon-container {
    border: 1px solid white;
    height:40px;
    width: 40px;
    margin-left:1rem;
}

/* Colors */

.my_bg-dark-blue {
    background-color: #051e34;
}

.my-bg-md-blue {
    background-color: #165bba;
}

.my_icon-font {
    font-size: .5rem;
}

